/* CSS by Nicole Miller*/

/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@0,18..144,87..112,300..900;1,18..144,87..112,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* ///ADD/// CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Root Variables */
:root {
  --blue-bulletin: #1D3557;
  --news-flash: #E63946;
  --watchdog-white: #F1FAEE;
  --truth-text: #333;
  --story-subtitle: #457B9D;
  --font-body: "Source Sans 3", sans-serif;
  --font-heading: 'Merriweather', serif;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  --transition: all 0.5s ease;
}

/* Manual Light/Dark Mode Styles*/
body.light-mode {
  background-color: var(--watchdog-white);
  color: var(--truth-text);
}
body.dark-mode {
  background-color: var(--truth-text);
  color: var(--watchdog-white);
}
#theme-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: var(--watchdog-white);
  border: 1px solid var(--blue-bulletin);
  border-radius: 1.5rem;
  cursor: pointer;
}

/* ///ADD/// Skip Link Styles */
.skip-link{
  background: var(--news-flash);
  height: 1rem;
  padding: 1rem;
  position: absolute;
  transform: translateX(-150%);
  transition: transform 0.2s;
}
.skip-link:focus{
  transform: translateX(0%);
}

/* ///ADD/// Navigation Styles */
nav{
  grid-column: 1 / -1;
  padding-bottom: 0.5rem;
}
nav a{
  text-decoration: none;
  color: var(--watchdog-white);
  background-color: var(--news-flash);
  padding: 1rem;
  margin: 0.5rem 1rem;
  font-family: var(--font-body);
  text-align: center;
  font-variation-settings: "wght" 550;
  text-transform: uppercase;
}


/* ///ADD/// Global Layout Styles */
a{
  display: block;
  padding: 1rem;
}
header, footer{
  background-color: var(--blue-bulletin);
  color: var(--watchdog-white);
}
h1{
  font-family: var(--font-heading);
  font-size: 2rem;
  padding: 0.75rem;
}
.tagline{
  font-family: var(--font-heading);
  font-size: 1rem;
  padding: 0.75rem;
}
#welcome{
  margin: 0 auto;
  padding: 1rem;
}
#welcome .tagline{
  padding: 0.5rem;
  margin: 1rem;
}
#breaking-news section{
  background-color: var(--news-flash);
  max-width: 420px;
  margin: 0 auto;
  padding: 0.75rem;
  color: var(--watchdog-white);
  border: solid thin var(--truth-text);
  margin-bottom: 0.75rem;
  box-shadow: var(--shadow);
  line-height: 1.5;
  cursor: pointer;
  font-size: 1rem;
}
#breaking-news h2{
  padding-left: 1rem;
}
#breaking-news h3{
  border-bottom: solid thin var(--watchdog-white);
  padding-bottom: 0;
}
#breaking-news p{
  padding-top: 0.75rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
}
#featured-articles section{
  max-width: 420px;
  margin: 0 auto;
  padding: 0.75rem;
  border: solid thin var(--story-subtitle);
  box-shadow: var(--shadow);
  margin-bottom: 0.75rem;
  line-height: 1.5;
  cursor: pointer;
  font-size: 1rem;
}
#featured-articles h2{
  padding-left: 1rem;
}
#featured-articles h3{
  border-bottom: solid thin var(--story-subtitle);
}
#featured-articles p{
  padding-top: 0.75rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
}
#notifications h2, p{
  padding-left: 1rem;
}
#notifications p{
  margin-bottom: 0.75rem;
}
form{
  background-color: var(--news-flash);
  color: var(--watchdog-white);
  font-family: var(--font-body);
  padding: 0.75rem;
  margin: 0 auto;
  border: solid thin var(--truth-text);
  box-shadow: var(--shadow);
  font-size: 1rem;
  width: 88%;
  margin-bottom: 1.5rem;
}
#txt-input label{
  display: block;
  margin: 0.5rem 0 0.5rem 0;
  width: 400px;
}
#txt-input input{
  padding: 0.25rem 0.5rem;
  margin: 0.5rem 0 0.5rem 0;
  border: solid thin var(--story-subtitle);
  height: 1.5rem;
  border-radius: 0.25rem;
  width: 400px;
  display: block;
}
#notifications fieldset{
  border: solid thin var(--blue-bulletin);
  padding: 0.75rem 0;
  margin: 0.5rem 0 0.5rem 0;
  width: 95%;
}
legend{
  padding: 0.5rem 0;
  text-transform: uppercase;
}
#submit-bttn{
  padding: 0.75rem 0;
  margin: 0 auto;
  width: 95%;
  background-color: var(--blue-bulletin);
  text-transform: uppercase;
  border-style: outset;
  box-shadow: var(--shadow);
  color: var(--watchdog-white);
  font-weight: bold;
}

footer h2{
  padding: 2.5rem 1rem 0.75rem 1.25rem;
  
}
footer a{
  text-decoration: none;
  color: var(--watchdog-white);
  background-color: var(--news-flash);
  font-family: var(--font-body);
  font-variation-settings: "wght" 550;
  text-transform: uppercase;
  margin: 0.75rem 0.5rem 0.75rem 1.25rem;
  height: fit-content;
  width: max-content;
  display: inline-block;
}
footer p{
  padding-top: 1.25rem;
  text-align: center;
}

/* ///ADD/// Global Text Styles */
h2{
  font-family: var(--font-heading);
  font-size: 1.5rem;
  padding-bottom: 0.75rem;
}
h3{
  font-family: var(--font-heading);
  font-size: 1.15rem;
  padding-bottom: 0.75rem;
}
p {
  font-family: var(--font-body);
}

/* ///ADD/// medium styles 620px */
@media screen and (min-width: 620px) {
  nav ul {
  display: flex;
  justify-content: flex-start;
}
  nav a {
  padding: 0.5rem;
  margin: 0.5rem;
}
}

/* ///ADD/// large styles 920px */


/* ///ADD/// x-large styles 1024px */


/* ///ADD/// Interaction Queries for color scheme light and dark and motion preference */
@media (prefers-color-scheme: dark){
  body {
  background-color: var(--truth-text);
  color: var(--watchdog-white);
}
}
@media (prefers-color-scheme: light){
  body {
  background-color: var(--watchdog-white);
  color: var(--truth-text);
}
}
@media (prefers-reduced-motion: reduce){

}

/* ///ADD///  Feature Query for :has() that checks if the #menu-toggle is checked */
@supports (selector(:has(*))) {
}